.comment {
	display: flex;
	flex-direction: column;
	background-color: @bg-white;
	color: @bg-grey;
	text-align: center;
	margin:0;
	padding: 0;

	&__item {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		list-style: none;
		min-width: 80%;
		border: black solid 1px;

	}

	&__item-title {
		font-size: 18px;
		color: black;
	}
	
	&__item-descr {
		font-size: 14px;
		color: @bg-grey;
		border: black solid 1px;
	}


}

.slider {
	background-color: white;
}